
.container-home {  
    height: 100vh;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

#index {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

#index h1 {
    color: #fff;
}

.student-identity {
    background: linear-gradient(135deg, #f4f4f9 10%, palevioletred 80%);
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}

.format {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.format h3 {
    margin-left: 10px;
}

.id img {
    width: 40%;
    border: 3px solid #d87093;
    margin-bottom: 30px;
}

.info {
    margin-top: 45px;
}

.name-school {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#senai {
    color: red;
}

#mange {
    margin-left: 10px;
    color: black;
}

.redes {
    width: 38%;
}

.redes-sociais {
    margin-top: 20px;
    display: flex;
}


footer {
    display: flex;
    justify-content: center;
    color: palevioletred;
}